@page "/fetchdata"

@using Microsoft.AspNetCore.Components.QuickGrid
@using QuickGrid.Shared.Dtos

@inject HttpClient Http

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <QuickGrid Items="@customers">
        <TemplateColumn Title="Avatar">
            <img width="50" src="@context.Avatar" alt="Customer avatar" />
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Name)" />
        <PropertyColumn Property="@(p => p.EmailAddress)" />
        <PropertyColumn Property="@(p => p.UserName)" />
    </QuickGrid>
}

@code {
    private IQueryable<Customer>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = Queryable.AsQueryable(await Http.GetFromJsonAsync<List<Customer>>("https://localhost:7111/Customer"));
    }
}
